.b1 {
    border-top-style: ridge;
}

.b2 {
    border-right-style: ridge;
}

.b3 {
    border-bottom-style: ridge;
}

.b4 {
    border-left-style: ridge;
}

.b5 {
    border-block-style: solid;
}

.b6 {
    border-block-start-style: solid;
}

.b7 {
    border-block-end-style: solid;
}

.b8 {
    border-inline-style: solid;
}

.b9 {
    border-inline-start-style: solid;
}

.b10 {
    border-inline-end-style: solid;
}

.b11 {
    writing-mode: vertical-lr;
}

.b12 {
    writing-mode: vertical-rl;
}

.b13 {
    border-style: solid;
}

.b14 {
    border-style: solid dashed;
}

.b15 {
    border-style: solid dashed double;
}

.b16 {
    border-style: solid dashed double groove;
}

.b17 {
    border-style: solid;
    border-top-width: 8px;
}

.b18 {
    border-style: solid;
    border-left-width: 8px;
}

.b19 {
    border-style: solid;
    border-right-width: 8px;
}

.b20 {
    border-style: solid;
    border-bottom-width: 8px;
}

.b21 {
    border-style: solid;

    border-block-width: 8px;
}

.b22 {
    border-style: solid;
    border-block-start-width: 8px;

}

.b23 {
    border-style: solid;
    border-block-end-width: 8px;

}

.b24 {
    border-style: solid;
    border-inline-end-width: 8px;

}

.b25 {
    border-style: solid;
    border-width: 10px;
}

.b26 {
    border-style: solid;
    border-width: 10px 20px;
}

.b27 {
    border-style: solid;
    border-width: 10px 20px 30px;
}

.b28 {
    border-style: solid;
    border-width: 10px 20px 30px 40px;
}

.b29 {
    border-style: solid;
    border-top-color: red;
}

.b30 {
    border-style: solid;
    border-right-color: red;
}

.b31 {
    border-style: solid;
    border-bottom-color: red;
}

.b32 {
    border-style: solid;
    border-left-color: red;
}

.b33 {
    border-style: solid;
    border-block-color: red;
}

.b34 {
    border-style: solid;
    border-inline-color: red;
}

.b35 {
    border-style: solid;
    border-block-start-color: red;
}

.b36 {
    border-style: solid;
    border-block-end-color: red;
}

.b37 {
    border-style: solid;
    border-inline-start-color: red;
}

.b38 {
    border-style: solid;
    border-inline-end-color: red;
}

.b39 {
    border-style: solid;
    border-color: red;
}

.b40 {
    border-style: solid;

    border-color: red green;
}

.b41 {
    border-style: solid;
    border-color: red green blue;
}

.b42 {
    border-style: solid;
    border-color: red green blue transparent;
}

.b43 {
    border-style: solid;
    margin-top: auto;
}

.b44 {
    border-style: solid;
    margin-right: auto;
}

.b45 {
    border-style: solid;
    margin-bottom: auto;
}

.b46 {
    border-style: solid;
    margin-left: auto;
}

.b47 {
    border-style: solid;
    margin-block: auto;
}

.b48 {
    border-style: solid;
    margin-block-start: auto;
}

.b49 {
    border-style: solid;
    margin-block-end: auto;
}

.b50 {
    border-style: solid;
    margin-inline: auto;
}

.b51 {
    border-style: solid;
    margin-inline-start: auto;
}

.b52 {
    border-style: solid;
    margin-inline-end: auto;
}

.b53 {
    border-style: solid;
    margin: 10px;
}

.b54 {
    border-style: solid;
    margin: 10px 20px;
}

.b55 {
    border-style: solid;
    margin: 10px 20px 30px;
}

.b56 {
    border-style: solid;
    margin: 10px 20px 30px 40px
}

.b57 {
    border-style: solid;
    padding-top: 8px;
}

.b58 {
    border-style: solid;
    padding-right: 8px;
}

.b59 {
    border-style: solid;
    padding-bottom: 8px;
}

.b60 {
    border-style: solid;
    padding-left: 8px;
}

.b61 {
    border-style: solid;
    padding-block: 8px;
}

.b62 {
    border-style: solid;
    padding-block-start: 8px;
}

.b63 {
    border-style: solid;
    padding-block-end: 8px;
}

.b64 {
    border-style: solid;
    padding-inline: 8px;
}

.b65 {
    border-style: solid;
    padding-inline-start: 8px;
}

.b66 {
    border-style: solid;
    padding-inline-end: 8px;
}

.b67 {
    border-style: solid;
    padding: 10px;
}

.b68 {
    border-style: solid;
    padding: 10px 20px;
}

.b69 {
    border-style: solid;
    padding: 10px 20px 30px;
}

.b70 {
    border-style: solid;
    padding: 10px 20px 30px 40px;
}